<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/assets/admin/css/style.css" rel="stylesheet" />
    <title>HÓA ĐƠN: @ViewBag.No</title>
</head>
<body>
    <div class="ticket">
        <p class="centered">
            Số HĐ: @ViewBag.No
        </p>
        <p class="centered">
            <b style="font-size:20px;">@ViewBag.Name</b>
            <br /><b>Cam kết chất lượng phục vụ</b>
            <br />Ngày: @ViewBag.Date 
            <br />@ViewBag.Room - Yêu cầu: <input type="checkbox">
            <br />Thời gian: từ @ViewBag.TimeIn đến @ViewBag.TimeOut
        </p>
        <table>
            <thead>
                <tr>
                    <th class="description">Dịch vụ</th>
                    <th class="quantity">SL</th>
                    <th class="price">Số tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Invoice)
                {
                    <tr>
                        <td class="description">@item.Description</td>
                        <td class="quantity">@item.Quality</td>
                        @if (item.Price == 0)
                        {
                            <td class="price"><input type="text" style="width:50px;"></td>
                        }
                        else
                        {
                            <td class="price">@(string.Format("{0:#,##0}", item.Price))</td>
                        }
                    </tr>
                }

            <td class="quantity"></td>
            <td class="description">Tổng</td>
            @if (ViewBag.Null > 0)
            {
                <td class="price"><input type="text" style="width:50px;"></td>
            }
            else
            {
                <td class="price">@(string.Format("{0:#,##0}", ViewBag.Total))</td>
            }
            </tr>
            </tbody>
        </table>
        <p class="centered">
            <b>Cảm ơn quý khách!</b>
        <br /><i>Tiền bo tối thiểu bằng tiền vé trở lên</i>
        </p>
    </div>
    <button id="btnPrint" class="hidden-print">In</button>
    <script src="script.js"></script>
</body>
</html>
<script>
    window.onload = function () {
        window.print();
    }

    const $btnPrint = document.querySelector("#btnPrint");
    $btnPrint.addEventListener("click", () => {
        window.print();
    });
</script>
