@model Model.EF.OrderDetail

@{
    ViewBag.Title = "Payment";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="pannel pannel-default">
    <div class="panel-heading text-center">
        <p style="font-size: 20px;">Thanh Toán</p>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-responsive">
                <tbody>
                    @{ 
                        decimal tip = 0;
                        foreach (var item in Model.DailyEmployees)
                        {
                            tip = tip + item.Tip;
                        }
                    }
                    <tr>
                        <th>
                            No.@Model.No
                            @if (tip > 0)
                            {
                                <strong style="color: green;">Đã thanh toán</strong>
                            }
                            else
                            {
                                <strong style="color: red;">Chưa thanh toán</strong>
                            }
                        </th>
                        <th>Yêu cầu: @Model.DailyList.Description </th>
                        <td>
                            Ngày: @Model.DailyList.CreatedDate
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Phòng</th>
                                        <th>Vé</th>
                                        <th>Giá vé</th>
                                        <th>Voucher/Code</th>
                                        <th>Số tiền</th>
                                    </tr>
                                    @{
                                        var totalBill = 0;
                                    }
                                        <tr>
                                            <td>@Model.Room.Name</td>
                                            <td>@Model.Ticket.Name</td>
                                            <td>@(string.Format("{0:#,##0}", Model.Ticket.Price))</td>
                                            <td>@Model.DailyList.Voucher.Code</td>
                                            <td>@(string.Format("{0:#,##0}", Model.Amount))</td>
                                        </tr>

                                        <tr>
                                            <th>KTV</th>
                                            <th>Tip</th>
                                            <td>
                                                @Html.ActionLink(" ", "Invoice", "DailyList", new { id = Model.ID }, new { target = "_blank", @class = "btn btn-success pull-right  btn-sm glyphicon glyphicon-print" })
                                            </td>
                                        </tr>
                                        <tr>
                                            @foreach (var emp in Model.DailyEmployees)
                                            {
                                            <tr>
                                                <td>@emp.Employee.Code</td>
                                                <td>@(string.Format("{0:#,##0}", emp.Tip))</td>
                                                <td>@Html.ActionLink(" ", "EditEmp", new { orderId = Model.ID, empId = emp.Employee_ID }, new { @class = "btn btn-warning pull-right  btn-sm glyphicon glyphicon-edit" })</td>
                                            </tr>
                                        }
                            </tr>
                            @{ 
                                totalBill = totalBill + @Convert.ToInt32(Model.Amount) + Convert.ToInt32(Model.DailyEmployees.Sum(x => x.Tip));
                            }
                                </tbody>
                            </table>
            <span class="pull-right" style="margin-right:100px;">

                @{
                    if (Model.DailyList.Taxi_ID != null)
                    {
                        <strong>Giảm trực tiếp : </strong> @Model.DailyList.Taxi.Price <strong class="glyphicon glyphicon-arrow-right"></strong>
                        <strong>Tổng:  </strong> @(string.Format("{0:#,##0}",(totalBill-Model.DailyList.Taxi.Price)))
                    }
                    else
                    {
                        <strong>Tổng:  </strong> @(string.Format("{0:#,##0}", totalBill))
                    }
                }

            </span>
            <p style="color: red;">
            *Thanh toán thành công khi Tiền Tip > 0
            <br />
            </p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
