@model PagedList.IPagedList<Model.EF.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Danh sách người dùng
}
@section JsFooter{
    <script>
        $("#txtsearch").on("keyup", function () {
            var txtenter = $(this).val();
            $("table tr").each(function (results) {
                if (results!==0) {
                    var id = $(this).find("td:nth-child(3)").text();//Vị trí của <td>từ 1 đếm xuống
                    if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0)
                    {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            })
        });
    </script>
}

<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách người dùng
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" id="txtsearch" placeholder="Nhập vào Tên NV" class="form-control" />
                                @*<input type="text" id="txtsearch" value="@ViewBag.SearchString" class="form-control" name="searchString" />*@
                            </div>
                            <div class="col-md-4">
                                @*<button type="submit" class="btn btn-success">Tìm kiếm</button>*@
                                <a class="btn btn-primary" href="/Admin/Employee/Create">Thêm mới</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã nhân viên</th>
                                <th>Chi nhánh</th>
                                <td>Họ tên</td>
                                <td>Tài khoản</td>
                                <td>Hình ảnh</td>
                                <td>Số điện thoại</td>
                                <td>Ngày sinh</td>
                                <td>Giờ vào ca</td>
                                <td>Giờ kết ca</td>
                                <td>Số ngày đã nghỉ</td>
                                <td>Trạng thái tài khoản</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.Code</td>
                                    <td>@item.Department.Name</td>
                                    <td>@item.Name</td>
                                    <td>@item.Username</td>
                                    <td><img src="@item.Image" width="100px" /></td>
                                    <td>@item.Phone</td>
                                    <td>@item.Birthday</td>
                                    <td>@item.TimeStart</td>
                                    <td>@item.TimeOut</td>
                                    <td>@item.DayOffs.Where(c => c.Employee_ID == item.ID).ToList().Count()</td>
                                    @*<td>@item.NumberOfDayOff</td>*@
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.StatusAccount ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
                                    <td>
                                        <a href="/Admin/Employee/Edit/@item.ID">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
