
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    This is Index of Admin.
}

@section JsFooter{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>

        var sove = @Html.Raw(Json.Encode(ViewBag.SO));
        var ve = @Html.Raw(Json.Encode(ViewBag.VE));
        var tongtien = @Html.Raw(Json.Encode(ViewBag.TONGTIEN));

        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ve,
                datasets: [{
                    label: '# of Votes',
                    data: tongtien,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var sove = @Html.Raw(Json.Encode(ViewBag.SO));
        var ve = @Html.Raw(Json.Encode(ViewBag.VE));
        var tongtien = @Html.Raw(Json.Encode(ViewBag.TONGTIEN));

        var ctx = document.getElementById('mixedChart').getContext('2d');
        var mixedChart = new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: "#",
                    data: sove,
                    // this dataset is drawn below
                    order: 1
                }, {
                    label: '#',
                    data: tongtien,
                    type: 'line',
                    // this dataset is drawn on top
                    order: 2
                }],
                labels: ve
            },
            options: options
        });
    </script>

}
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="col-xs-6 col-sm-4">
        <canvas id="mixedChart" width="400" height="400"></canvas>
    </div>
</div>

