@model PagedList.IPagedList<Model.EF.Room>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section JsFooter{

    <script>
        var lstTimer = @Html.Raw(Json.Encode(ViewBag.TimerList));

        function _SetTimerDisplay(objTime, label) {

            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = objTime.ReleaseDateTime - now;
            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance  / (1000 * 60)));
            var seconds = Math.floor((distance % (1000 * 60) / 1000));
            // If the count down is over, write some text
            if (distance < 0) {
                //clearInterval(x);
                alert(objTime.Message);
                objTime.Name = "EXPIRED";
                document.getElementById(label).innerHTML = "Hết giờ";
            }
            else {
                // Output the result in an element with id="Display"
                document.getElementById(label).innerHTML = minutes + "m " + seconds + "s ";
            }

        }

        // Set the date we're counting down to
        function UpdateTimer() {
            for (var i = 0; i < lstTimer.length; i++) {
                var iCount = 0;
                if (lstTimer[i].Name != 'EXPIRED') {
                    _SetTimerDisplay(lstTimer[i], lstTimer[i].Name);
                    iCount++;
                }
            }
            var vFound = lstTimer.find(function (element) {
                return (element.Name != "EXPIRED" ? true : false);
            });
            if (vFound == undefined) {
                clearInterval(x);
            }
        }

        var x = setInterval(function () {
            UpdateTimer();
        }, 1000);
    </script>
}

<div class="row">
    @foreach (var item in Model)
    {



        if (item.OrderDetails.Count != 0)
        {
            foreach (var temp in item.OrderDetails.Where(x => x.DailyList.Status == true).OrderByDescending(x => x.ID).Take(1))
            {
                if (temp.DailyEmployees.Sum(x => x.Tip) > 0)
                {
                    <div class="col-6 col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                @item.Name
                                <td class="text-right"><a href="/Admin/DailyList/Create" class="btn btn-default text-right" data-id="@item.ID"><strong style="color:green;">Chọn</strong></a></td>
                            </div>
                            <div class="panel-body">
                                <tbody>
                                    <tr>
                                        <td>KTV: </td>
                                        <br />
                                        <td>Loại vé: </td>
                                        <br />
                                        <td>Giờ vào: </td>
                                        <br />
                                        <td>Giờ ra: </td>
                                        <br />
                                        <td>Số tiền: </td>
                                    </tr>
                                </tbody>
                            </div>
                            <div class="panel-footer">
                                <p>Phòng trống</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-6 col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <td id="a" style="margin-left: 4px;">@item.Name</td>
                                <td class="text-right"><a href="/Admin/DailyList/Payment/@temp.ID" class="btn btn-default text-right" data-id="@item.ID"><strong style="color:Tomato;">Thanh toán</strong></a></td>
                            </div>
                            <div class="panel-body">
                                <tbody>
                                    <tr>
                                        <td>KTV: @temp.Employee_ID</td>
                                        <br />
                                        <td>Loại vé: @temp.Ticket.Name</td>
                                        <br />
                                        <td>Giờ vào: @(string.Format("{0:HH:mm}", temp.TimeIn))</td>
                                        <br />
                                        <td>Giờ ra: @(string.Format("{0:HH:mm}", temp.TimeOut))</td>
                                        <br />
                                        <td>Số tiền: @(string.Format("{0:#,##0}", temp.Amount))</td>
                                    </tr>
                                </tbody>
                            </div>
                            <div class="panel-footer">

                                @if ((DateTime.Now - temp.TimeOut).TotalSeconds > 0)
                                {
                                    <p style="color: crimson;">Chưa thanh toán</p>
                                }
                                else
                                {
                                    <p style="color: red; font-weight:bold;" id="@item.ID"></p>
                                }
                            </div>
                        </div>
                    </div>
                }

            }
        }
        else
        {
            <div class="col-6 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        @item.Name
                        <td class="text-right"><a href="/Admin/DailyList/Create" class="btn btn-default text-right" data-id="@item.ID"><strong style="color:green;">Chọn</strong></a></td>
                    </div>
                    <div class="panel-body">
                        <tbody>
                            <tr>
                                <td>KTV: </td>
                                <br />
                                <td>Loại vé: </td>
                                <br />
                                <td>Giờ vào: </td>
                                <br />
                                <td>Giờ ra: </td>
                                <br />
                                <td>Số tiền: </td>
                            </tr>
                        </tbody>
                    </div>
                    <div class="panel-footer">
                        <p>Phòng trống</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
